* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .8fr 4fr;
    
}



.sidebar {
    background-color: yellowgreen;
    grid-row: 1 / -1;
}


.header {
    background-color: blueviolet;
}


.content {
    background-color: pink;

    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: repeat(2, 1fr);

    gap: 15px;
    margin: 15px;
}



.projects {
    background-color: aqua;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: .8fr 16fr;

    
}

.projects > .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: red;
    gap: 15px;
    
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.announcements > .card-container {
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.trending > .card-container {
    display: grid;
}

.card {
    background-color: antiquewhite;
    
}




