body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: .8fr 4fr;
    
}



.sidebar {
    background-color: yellowgreen;
    grid-row: 1 / -1;
}


.header {
    background-color: blueviolet;
}


.content {
    background-color: pink;

    display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-template-rows: repeat(2, 1fr);
}



.projects {
    background-color: aqua;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: .8fr 16fr;

    
}

.card {
    background-color: antiquewhite;
    
}


.projects > .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: red;
    gap: 15px;
    
}